* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "foco",sans-serif;
    background: #f5f9fc;
}

.wrapper{
    width: 95%;
    margin: 0 auto;
}

.display-none{
    display: none;
}

/* .display-block{
    display: block;
} */

.display-inline-block{
    display: inline-block;
}

.relative-position{
    position: relative;
}

.padding-0{
    padding: 0px;
}

ul{
    list-style-type: none;
}


/* ---------------------------------------- */
