/* common style */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
}

.wrapper{
    width: 85%;
    margin: 0 auto;
}

.display-none{
    display: none;
}

.display-inline-block{
    display: inline-block;
}

.relative-position{
    position: relative;
}

ul{
    list-style-type: none;
}

/* end of common css */


/* header css */



header .row{
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}



.logo-div img{
    width: 100%;
}

.nav-link{
    color: #222;
    font-size: 1em;
}

.nav-item{
    padding-right: 0.5em;
    padding-left: 0.5em
}

.nav-item:last-child{
    padding-right: 0px;
    border-left: 1px solid #e6e6e6;
}

.navbar{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-nav{
    justify-content: flex-end;
}

/* header for small screen */

.menu-list-sm{
    height: 0;
    opacity: 0;
    display: none;
    -webkit-transition: all 0.5s ease;  
  -moz-transition: all 0.5s ease;  
  -o-transition: all 0.5s ease;  
  -ms-transition: all 0.5s ease;  
  transition: all 0.5s ease;
}

.animated-dropdown{
    height: auto;
    opacity: 1;
    display: block;
    transform: translateY(0);
}

.menu-list-sm li{
    padding: 20px;
}

.menu-list-sm li:last-child{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.menu-list-sm li a{
    color: #222;
    font-size: 24px;
}


/* humburger css */

  
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #95938b;
    margin: 4px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 3px);
    transform: rotate(-45deg) translate(-4px, 3px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* end of humburger css */

/* end of header for small screen */

/* end of header css */



/* footer css */

footer{
    padding-top: 100px;
}

footer span{
    display: block;
}

footer ul li{
    line-height: 1.8;
}

footer h4, footer p{
    color: #222222;
}

footer p{
    font-size: 18px;
}

.footer-links{
    color: #fc7d00;
    text-decoration: underline;
    text-decoration-color: #fc7d00;
    font-size: 18px;
}

.footer-links:hover{
    cursor: pointer;
    color: #fc7d00;
}

/* .kontakta p:nth-child(2){
    padding: 0px;
} */

/* end of footer css */