/* The container */
.radio-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radio-label .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-label:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-label input:checked ~ .checkmark {
    border: 1px solid #47be6f;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radio-label .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-label input:checked ~ .checkmark:after {
    display: block;
  }

  .span-message{
      display: none;
      background: #faf2e8;
      color: #cd520f;
      font-size: 13px;
      padding: 10px 10px;
      margin-left: 100px;
      border-radius: 4px;
  }

  .span-message img{
      width: 20px;
      margin-right: 10px;
  }

  .radio-label input:checked ~ .span-message{
      display: inline;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-label .checkmark:after {
       top: 2px;
      left: 2px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: #47be6f;
  }

  .ques-ans-div{
      padding: 20px 0px;
  }

  .ques-ans-div h5{
      margin: 10px 0px;
  }

  .ques-ans-div p{
      color: #787878;
      font-size: 17px;
  }

  .delete-icon , .edit-icon{
      height: 20px;
      margin-right: 15px;
  }

  .doc-title-value p{
      margin: 0px;
  }


  .doc-title li, .doc-title-value li{
      padding: 15px 0px;
  }

  .status-info .doc-title-value li, .status-info .doc-title li{
      padding: 8px 0px;
  }

  .doc-title li:first-child{
      padding-left: 30px;
  }

  .doc-title-value li:first-child{
      padding-left: 30px;
  }

  .doc-title li:last-child{
      padding-right: 30px;
  }

  .doc-title-value li:last-child{
      padding-right: 30px;
  }

  .mobile-title{
      color: #db720f;
  }

  .mobile-title-value p{
      margin: 0px;
  }

  .mobile-title-value, .mobile-title{
      margin-bottom: 10px;
      font-size: 14px;
  }

  .mobile-icon-div{
      margin: 0px;
  }

  .mobile-icon-div li{
      text-align: center;
  }

  .mobile-icon-div li:first-child{
      border-right: 1px solid #e0e0e0;
  }

  .btn-ok{
      color: #fff;
      background: #db720f;
      border: none;
  }

  .btn-close{
      color: #db720f;
      background: #fff;
      border: 1px solid #db720f;
  }

  #myDeleteModal .modal-body{
      text-align: center;
  }

  #myDeleteModal .modal-body button{
      width: 40%;
      padding: 10px 0px;
      display: block;
      border-radius: 4px;
      margin: auto;
      margin-top: 20px;
  }

  #myDeleteModal.show{
      display: flex !important;
  }

  .modal-dialog{
      max-width: 100%;
  }

  #myDeleteModal .modal-dialog{
      width: 40%;
  }

  #myEditModal .modal-dialog, #myButtonModal .modal-dialog{
      width: 85%;
  }

  #myEditModal .modal-header, #myButtonModal .modal-header{
      border: none;
      padding-left: 50px;
  }

  #myEditModal .close, #myButtonModal .close{
      padding-top: 0px;
      padding-bottom: 0px;
      font-size: 45px;
      font-weight: normal;
  }

  #myDeleteModal .modal-body{
      padding: 50px 0px;
  }

  #myDeleteModal .modal-body h3{
      margin-bottom: 50px;
  }

  #myEditModal .modal-body, #myButtonModal .modal-body{
      padding: 16px 50px;;
  }

  #myEditModal .checkbox-div, #myButtonModal .checkbox-div{
      flex-wrap: wrap;
  }

  #myEditModal .radio-label, #myButtonModal .radio-label{
      margin-right: 10px;
      margin-bottom: 0px;
      margin-top: 0px;
      margin-left: 0px;
  }

  #myEditModal .span-message, #myButtonModal .span-message{
      visibility: hidden;
      display: inline;
      margin-left: 50px;
  }

  #myEditModal label, #myButtonModal label{
      color: #7b7b7b;
      font-size: 14px;
  }

  #myButtonModal .select-div{
      padding-right: 50px;
  }

  #myButtonModal .select-div label{
      color: #000;
  }

  .Tilltalsnamn-div{
      padding-right: 10px !important;
  }

  .Efternamn-div{
      padding-left: 10px !important;
  }

  .Personuppgifter, .Aktier, .form-btn-group, .organisationsnummer-div{
      padding-right: 50px !important;
  }

  .Adress, .namn-div{
      padding-left: 50px !important;
  }

  .Aktier{
      margin-bottom: 20px;
  }

  .form-btn{
      color: #fff;
      background: #f7753e;
      border-radius: 4px;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  .form-btn:hover{
      color: #fff;
  }

  .avbryt-btn:hover{
      color: #f7753e;
  }

  .avbryt-btn{
      color: #f7753e;
      border: 1px solid #f7753e;
      border-radius: 4px;
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  #myEditModal input[type="text"]{
      font-weight: 700;
      font-size: 14px;
  }

  @media only screen and (max-width: 767px){
    .radio-label input:checked ~ .span-message{
        display: block;
    }

    .span-message{
        margin-left: 0px;
    }

    .ques-ans-div p{
        font-size: 12px;
    }

    .ques-ans-div h5{
        font-size: 14px;
    }

    .radio-label{
        font-size: 12px;
    }

    .span-message{
        font-size: 11px;
    }

    .mobile-docu-div{
        margin: 10px 0px;
    }

    .mobile-docu-div ul{
        padding-right: 20px;
        padding-left: 20px;
    }

    .mobile-icon-div{
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-top: 10px;
        border-top: 1px solid #e0e0e0;
    }

    .delete-icon,.edit-icon{
        margin-right: 0px;
    }

    #myDeleteModal .modal-dialog{
        width: 100%;
    }

    #myDeleteModal .modal-body button{
        width: 50%;
    }

    #myDeleteModal .modal-body h3{
        font-size: 20px;
    }

    #myEditModal .modal-dialog, #myButtonModal .modal-dialog{
        width: 100%;
        margin: 0px;
    }

    #myEditModal .modal-body, #myButtonModal .modal-body{
        padding: 16px 10px;
    }

    #myEditModal .modal-header, #myButtonModal .modal-header{
        padding-left: 10px;
    }

    .Tilltalsnamn-div{
        padding-right: 0px !important;
    }
  
    .Efternamn-div{
        padding-left: 0px !important;
    }
  
    .Personuppgifter, .Aktier, .form-btn-group, .organisationsnummer-div{
        padding-right: 0px !important;
    }
  
    .Adress, .namn-div{
        padding-left: 0px !important;
    }

    #myEditModal .span-message, #myButtonModal .span-message{
        display: none;
        margin-left: 0px;
    }

    #myEditModal .modal-title, #myButtonModal .modal-title{
        padding-top: 30px;
        font-size: 19px;
        font-weight: 500;
    }

    #myEditModal h5, #myButtonModal h5{
        font-size: 16px;
    }

    #myEditModal .checkbox-div, #myButtonModal .checkbox-div{
        margin-bottom: 20px;
    }

    #myEditModal button, #myButtonModal button{
        margin-bottom: 10px;
    }

    #myButtonModal .select-div{
        padding-right: 0px;
    }
  }