<!DOCTYPE html>
<html>

    <head>
        <title>Bologs Partner Header</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/customStyle.css">
        <link rel="stylesheet" href="../css/mediaQuery.css">
    </head>

    <body>
        <footer class="wrapper">
            <div class="row">
                <div class="col-12 col-md-3">
                    <h4>
                        Om oss
                    </h4>
                    <p>
                        Bolagspartner är Sveriges största leverantör av lagerbolag. 
                        Förutom lagerbolag har vi ett brett utbud av bolagstjänster såsom ändringar 
                        i aktiebolag och snabbavvecklingar.
                    </p>
                    <ul>
                        <li><a href="#" class="footer-links">Nyheter</a></li>
                        <li><a href="#" class="footer-links">Återförsäljare</a></li>
                        <li><a href="#" class="footer-links">Medarbetare</a></li>
                        <li><a href="#" class="footer-links">Referenser</a></li>
                        <li><a href="#" class="footer-links">Integritetspolicy</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3">
                    <h4>
                        Våra tjänster
                    </h4>
                    <ul>
                        <li><a href="#" class="footer-links">Fusion</a></li>
                        <li><a href="#" class="footer-links">Ändra räkenskapsår</a></li>
                        <li><a href="#" class="footer-links">Ägarförändring</a></li>
                        <li><a href="#" class="footer-links">Minska aktiekapitalet</a></li>
                        <li><a href="#" class="footer-links">Namnändring</a></li>
                        <li><a href="#" class="footer-links">Nyemission</a></li>
                        <li><a href="#" class="footer-links">Uppdatera aktieboken</a></li>
                        <li><a href="#" class="footer-links">Verksamhetsändring</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 kontakta">
                    <h4>
                        Kontakta oss
                    </h4>
                    <div class="row">
                        <p class="col-6 col-md-12 display-inline-block">
                            <span>Bp Bolagspartner AB</span>
                            <span>Org. nr. 556803-3236</span>
                            <span>Bankgiro: 629-9788</span>
                        </p>
                        <p class="col-6 col-md-12 display-inline-block">
                            <span>Telefon: 046-460 12 80</span>
                            <span>Fax: 0735-27 63 00</span>
                            <span><a href="#" class="footer-links">info@bolagspartner.se</a></span>
                        </p>
                        <p class="col-6 col-md-12 display-inline-block">
                            <span>Postadress:</span>
                            <span>Box 1067</span>
                            <span>221 04 Lund</span>
                        </p>
                        <p class="col-6 col-md-12 display-inline-block">
                            <span>Besöksadress:</span>
                            <span>Traktorvägen 6B</span>
                            <span>226 60 Lund</span>
                        </p>
                    </div>
                    
                </div>
                <div class="col-12 col-md-3">
                    <img src="../images/Foretagsmarke2019_generellt-Low.png" alt="footer-img">
                </div>
            </div>
        </footer>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../js/customJS.js"></script>
    </body>

</html>