<!DOCTYPE html>
<html>

    <head>
        <title>Bologs Partner page-1</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            (function (d) {
                var config = {
                    kitId: 'hbt2yrl',
                    scriptTimeout: 3000,
                    async: true
                },
                    h = d.documentElement, t = setTimeout(function () {
                        h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                    },
                        config.scriptTimeout), tk = d.createElement("script"),
                    f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading";
                tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
                tk.async = true; tk.onload = tk.onreadystatechange = function () {
                    a = this.readyState;
                    if (f || a && a != "complete" && a != "loaded") return;
                    f = true; clearTimeout(t);
                    try {
                        Typekit.load(config)
                    }
                    catch (e) { }
                };
                s.parentNode.insertBefore(tk, s)
            })(document);
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
        <link rel="stylesheet" href="../css/commonStyle.css">
        <link rel="stylesheet" href="../css/customStyle.css">
        <link rel="stylesheet" href="../css/mediaQuery.css">
        <link rel="stylesheet" href="../css/page-3.css">
        <link rel="stylesheet" href="../css/page-4.css">
        <link rel="stylesheet" href="../css/page-5.css">
        <link rel="stylesheet" href="../css/page-7.css">
    </head>

    <body>
            <div class="popup display-none">
                                            
            </div>
        <div class="background-effect"></div>
        <div class="page3 shadow">
            <button class="back-button">
                <strong>
                    <i class="fa fa-arrow-left left-arrow"></i>
                    Back
                </strong>
            </button>
        
            <h3 class="page3-heading">
                <strong>
                    Aktiebok for Noronic Ab<span> (559210-1447)</span>
                </strong>
            </h3>

            <div class="row no-gutters flex-nowrap scroll-tabs">
                <ul class="nav nav-tabs col-12 row no-gutters flex-nowrap nav-justified shadow" role="tablist">
                    <li class="nav-item col-md-2 col-4 Aktieagare-border-radius Aktieagare-border">
                        <a onclick="changeTab('Aktieagare')" class="Aktieagare-border-radius nav-link active"
                            data-toggle="tab" href="#tab-Aktieagare">
                            Aktieagare
                        </a>
                        <div id="Aktieagare" class="triangle"></div>
                    </li>
                    <li class="nav-item col-md-2 col-4 Handelser-border Handelser-border">
                        <a onclick="changeTab('Handelser')" class="aktiebocker-border nav-link" data-toggle="tab"
                            href="#tab-Handelser">
                            Handelser
                        </a>
                        <div id="Handelser" class="triangle display-none"></div>
                    </li>
                    <li class="nav-item col-md-2 col-4 Rapporter-border Rapporter-border">
                        <a onclick="changeTab('Rapporter')" class="aktiebocker-border nav-link" data-toggle="tab"
                            href="#tab-Rapporter">
                            Rapporter
                        </a>
                        <div id="Rapporter" class="triangle display-none"></div>
                    </li>
                    <li class="nav-item col-md-2 col-4 Administration-border Administration-border shadow">
                        <a onclick="changeTab('Administration')" class="aktiebocker-border nav-link" data-toggle="tab"
                            href="#tab-Administration">
                            Administration
                        </a>
                        <div id="Administration" class="triangle display-none"></div>
                    </li>
                </ul>
            </div>

            <!-- tab content -->

            <div class="tab-content">
                <div id="tab-Aktieagare" class="tab-pane active"><br>
                    <ul class="d-flex align-items-stretch flex-wrap tags-div">
                        <li class="info-cards d-flex align-items-center justify-content-between">
                            <div>
                                <p class="card-title">
                                    Antal aktieagare
                                </p>
                                <p class="card-title-value">
                                    <strong>
                                        1
                                    </strong>
                                </p>
                            </div>
                            <img class="info-card-img" src="../images/aktieagare1.png" alt="image">
                        </li>
                        <li class="info-cards d-flex align-items-center justify-content-between">
                            <div>
                                <p class="card-title">
                                    Antal aktier
                                </p>
                                <p class="card-title-value">
                                    <strong>
                                        500
                                    </strong>
                                </p>
                            </div>
                            <img class="info-card-img" src="../images/aktieagare2.png" alt="image">
                        </li>
                        <li class="info-cards d-flex align-items-center justify-content-between">
                            <div>
                                <p class="card-title">
                                    Aktiekapital
                                </p>
                                <p class="card-title-value">
                                    <strong>
                                        50,000 kr
                                    </strong>
                                </p>
                            </div>
                            <img class="info-card-img" src="../images/aktieagare3.png" alt="image">
                        </li>
                        <li class="info-cards d-flex align-items-center justify-content-between">
                            <div>
                                <p class="card-title">
                                    Kvotvarde
                                </p>
                                <p class="card-title-value">
                                    <strong>
                                        100,00
                                    </strong>
                                    <span>kr / aktie</span>
                                </p>
                            </div>
                            <img class="info-card-img" src="../images/aktieagare4.png" alt="image">
                        </li>
                    </ul>


                    <div class="row no-gutters filter-input-div">
                        <div class="col-md-7 col-12 row no-gutters flex-nowrap align-items-center">
                            <div onclick="openFilterDropdown('Alla-aktietyper')" id="Alla-aktietyper" 
                                class="col-md-3 filter-div shadow">
                                <strong>
                                    Alla aktietyper
                                </strong>
                                <div class="filter-dropdown display-none">
                                    <label class="label-container">One
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-container">Two
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="triangle-dropdown display-none"></div>
                                <i class="fa fa-chevron-down dropdown-icon"></i>
                            </div>
                            <div onclick="openFilterDropdown('Alla-aktieagare')" id="Alla-aktieagare" 
                                class="col-md-3 filter-div shadow">
                                <strong>
                                    Alla aktieagare
                                </strong>
                                <div class="filter-dropdown display-none">
                                    <label class="label-container">One
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="label-container">Two
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="triangle-dropdown display-none"></div>
                                <i class="fa fa-chevron-down dropdown-icon"></i>
                            </div>
                            <div class="col-md-4 col-6 switch-div d-flex align-items-center">
                                <span class="circle-span-container">
                                    <span class="circle-span"></span>
                                </span>
                                <span class="switch-div-desp">
                                    Visa historiska agare
                                </span>
                            </div>
                            <div class="col-5 ml-auto d-md-none filter-div shadow"
                                data-toggle="modal" data-target="#myFilterModal" id="filter-btn">
                                <strong>
                                    Filtrera
                                </strong>
                            </div>
                            <!-- filter modal -->

                            <div class="modal" id="myFilterModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                            
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">
                                                &times;
                                            </button>
                                        </div>
                            
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <ul class="row no-gutters filter-tab-headers">
                                                <li class="col-4 filter-tabs-heading">
                                                    <strong>
                                                        Filtrera
                                                    </strong>
                                                </li>
                                                <li class="col-8 filter-tabs-values-heading">
                                                    <strong>
                                                        Klar
                                                    </strong>
                                                </li>
                                            </ul>
                                            <ul class="row no-gutters filter-tab-headers-value">
                                                <li class="col-4 filter-tabs">
                                                    <ul class="nav nav-tabs" role="tablist">
                                                        <li class="nav-item Aktietyper-border">
                                                            <a onclick="changeTab('Aktietyper')" class="nav-link active" data-toggle="tab"
                                                                href="#tab-Aktietyper">
                                                                <strong>
                                                                    Aktietyper
                                                                </strong>
                                                            </a>
                                                            <div id="Aktietyper" class="vertical-triangle"></div>
                                                        </li>
                                                        <li class="nav-item filter-Aktieagare-border">
                                                            <a onclick="changeTab('filter-Aktieagare')" class="nav-link" data-toggle="tab"
                                                                href="#tab-filter-Aktieagare">
                                                                <strong>
                                                                    Aktieagare
                                                                </strong>
                                                            </a>
                                                            <div id="filter-Aktieagare" class="vertical-triangle display-none"></div>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="col-8 filter-tab-values">
                                                    <!-- filter tab content -->
                                                    <div class="tab-content">
                                                        <div id="tab-Aktietyper" class="tab-pane active">
                                                            <label class="label-container">One
                                                                <input type="checkbox" checked="checked">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <label class="label-container">Two
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                        <div id="tab-filter-Aktieagare" class="tab-pane fade">
                                                            <label class="label-container">One
                                                                <input type="checkbox" checked="checked">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                            <label class="label-container">Two
                                                                <input type="checkbox">
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                            
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <strong>
                                                    Tillampa
                                                </strong>
                                            </button>
                                        </div>
                            
                                    </div>
                                </div>
                            </div>
                            <!-- filter modal ends -->
                        </div>
                        <div class="col-md-5 col-12 search-input-div d-flex justify-content-end">
                            <input type="text">
                            <i class="fa fa-search search-input-icon"></i>
                        </div>
                    </div>

                    <!-- mobile view -->

                    <ul class="cards bg-white shadow d-md-none">
                        <li class="d-flex">
                            <p class="title">
                                <strong>
                                    Agare
                                </strong>
                            </p>
                            <p class="title-value">
                                <strong>
                                    Joekim Bengtsson
                                </strong>
                            </p>
                        </li>
                        <li class="d-flex">
                            <p class="title">
                                <strong>
                                    Stamaktier
                                </strong>
                            </p>
                            <p class="title-value">
                                <strong>
                                    500
                                </strong>
                            </p>
                        </li>
                        <li class="d-flex">
                            <p class="title">
                                <strong>
                                    Agarandel
                                </strong>
                            </p>
                            <p class="title-value">
                                <strong>
                                    100%
                                </strong>
                            </p>
                        </li>
                        <li class="d-flex">
                            <p class="title">
                                <strong>
                                    Roster
                                </strong>
                            </p>
                            <p class="title-value">
                                <strong>
                                    500
                                </strong>
                            </p>
                        </li>
                    </ul>

                    <!-- desktop view -->

                    <div class="desktop-view-heading row no-gutters align-items-center d-none d-md-flex">
                        <p class="col-md-3">
                            <strong>
                                Agare
                            </strong>
                        </p>
                        <p class="col-md-3">
                            <strong>
                                Stamaktier
                            </strong>
                        </p>
                        <p class="col-md-3">
                            <strong>
                                Agarandel
                            </strong>
                        </p>
                        <p class="col-md-3">
                            <strong>
                                Roster
                            </strong>
                        </p>
                    </div>
                    
                    <div class="desktop-view-value shadow row no-gutters bg-white align-items-center d-none d-md-flex">
                        <p class="col-md-3">
                            <strong>
                                Joekim Bengtsson
                            </strong>
                        </p>
                        <p class="col-md-3">
                            <strong>
                                500
                            </strong>
                        </p>
                        <p class="col-md-3">
                            <strong>
                                100%
                            </strong>
                        </p>
                        <p class="col-md-3">
                            <strong>
                                500
                            </strong>
                        </p>
                    </div>

                </div>
                <div id="tab-Handelser" class="tab-pane fade"><br>
                    <!-- desktop tabs view -->

                    <ul class="nav nav-tabs d-none d-md-flex desktop-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-Oversikt">
                                Oversikt
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-Ny-handelse">
                                Ny handelse
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-Angra">
                                Angra
                            </a>
                        </li>
                    </ul>
                    <!-- mobile tabs view -->
                    
                    <div class="dropdown-div d-md-none">
                        <span>
                            <strong>
                                Oversikt
                            </strong>
                        </span>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" id="Oversikt">
                                <a class="nav-link dropdown-list active" data-toggle="tab" value="Oversikt"
                                    href="#tab-Oversikt">
                                    Oversikt
                                </a>
                            </li>
                            <li class="nav-item" id="Ny-handelse">
                                <a class="nav-link dropdown-list" data-toggle="tab" value="Ny handelse" 
                                href="#tab-Ny-handelse">
                                    Ny handelse
                                </a>
                            </li>
                            <li class="nav-item" id="Angra">
                                <a class="nav-link dropdown-list" data-toggle="tab" value="Angra" 
                                href="#tab-Angra">
                                    Angra
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content dropdown-tab-content">
                        <div id="tab-Oversikt" class="tab-pane active"><br>
                            <h5 class="Aktiebokshandelser">
                                <strong>
                                    Aktiebokshandelser
                                </strong>
                            </h5>
                            <div class="row no-gutters filter-input-div">
                                <div class="col-md-6 col-12 row no-gutters flex-nowrap">
                                    <input type="text" placeholder="Fr.o.m." id="datepicker-from" 
                                        class="col-md-4 col-3 filter-div">
                                    <input type="text" placeholder="T.o.m." id="datepicker-to" 
                                        class="col-md-4 col-3 filter-div">
                                    <div onclick="openFilterDropdown('Filtrera')" id="Filtrera" 
                                        class="col-md-4 filter-div">
                                        Filtrera
                                    
                                        <div class="filter-dropdown display-none">
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">Two
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="label-container">One
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <i class="fa fa-chevron-down dropdown-icon"></i>
                                        <div class="triangle-dropdown display-none"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 search-input-div d-flex justify-content-end">
                                    <input type="text">
                                    <i class="fa fa-search search-input-icon"></i>
                                </div>
                            </div>
                            <!-- mobile view -->
                            <ul class="cards bg-white shadow d-md-none">
                                <li class="d-flex">
                                    <p class="title">
                                        <strong>
                                            Datum
                                        </strong>
                                    </p>
                                    <p class="title-value">
                                        <strong>
                                            2019-07-01
                                        </strong>
                                    </p>
                                </li>
                                <li class="d-flex">
                                    <p class="title">
                                        <strong>
                                            Typ
                                        </strong>
                                    </p>
                                    <p class="title-value">
                                        <strong>
                                            Hembud/Forbehall
                                        </strong>
                                    </p>
                                </li>
                                <li class="d-flex">
                                    <p class="title">
                                        <strong>
                                            Beskrivning
                                        </strong>
                                    </p>
                                    <p class="title-value">
                                        <strong>
                                            Forkopsforbehall registrerades
                                        </strong>
                                    </p>
                                </li>
                            </ul>
                        
                            <!-- desktop view -->
                            <div class="desktop-view-heading row no-gutters align-items-center d-none d-md-flex">
                                <p class="col-md-3">
                                    <strong>
                                        Datum
                                    </strong>
                                </p>
                                <p class="col-md-3">
                                    <strong>
                                        Typ
                                    </strong>
                                </p>
                                <p class="col-md-6">
                                    <strong>
                                        Beskrivning
                                    </strong>
                                </p>
                            </div>
                        
                            <div class="desktop-view-value shadow row no-gutters bg-white align-items-center d-none d-md-flex">
                                <p class="col-md-3">
                                    <strong>
                                        2019-07-01
                                    </strong>
                                </p>
                                <p class="col-md-3">
                                    <strong>
                                        Hembud/Forbehall
                                    </strong>
                                </p>
                                <p class="col-md-6">
                                    <strong>
                                        Forkopsforbehall registrerades
                                    </strong>
                                </p>
                            </div>
                        
                        </div>
                        <div id="tab-Ny-handelse" class="tab-pane"><br>
                            <h5 class="Registrera">
                                <strong>
                                    Registrera ny handelse
                                </strong>
                            </h5>

                            <p class="Registrera-para">
                                Har kan du registrera nya handelse i aktieboken. Alla dessa handelser 
                                kraver beslut eller mandat fran foretagets bolagsstamma.
                            </p>

                            <ul class="d-flex align-items-stretch justify-content-start">
                                <li class="Ny-handelse-cards">
                                    <h5>
                                        <strong>
                                            Transaktion
                                        </strong>
                                    </h5>
                                    <p>
                                        En kopare och en saljare
                                    </p>
                                </li>

                                <li class="Ny-handelse-cards">
                                    <h5>
                                        <strong>
                                            Pro Rata-forsaljining
                                        </strong>
                                    </h5>
                                    <p>
                                        Alla nuvarande aktieagare saljer proportionerligt lika mycket aktier 
                                        till en ny agare.
                                    </p>
                                </li>

                                <li class="Ny-handelse-cards">
                                    <h5>
                                        <strong>
                                            Pro Rata-kop
                                        </strong>
                                    </h5>
                                    <p>
                                        Nuvarande aktieagare koper proportionerligt lika manga aktier 
                                        av en existerande aktieagare.
                                    </p>
                                </li>

                                <li class="Ny-handelse-cards">
                                    <h5>
                                        <strong>
                                            Pro Rata-kop
                                        </strong>
                                    </h5>
                                    <p>
                                        Nuvarande aktieagare koper proportionerligt lika manga aktier
                                        av en existerande aktieagare.
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <div id="tab-Angra" class="tab-pane"><br>
                            <h5 class="Angra">
                                <strong>
                                    Angra handelse
                                </strong>
                            </h5>
                            <p>
                                Har kan du registrera nya handelse i aktieboken. Alla dessa handelser 
                                kraver beslut eller mandat fran foretagets bolagsstamma.
                            </p>

                            <div class="btn-container">
                                <button class="btn btn-outline-primary">
                                    <img src="../images/delete-icon.png" alt="image">
                                    <strong>
                                        Radera handelser ur aktieboken
                                    </strong>
                                </button>
                            </div>

                            <!-- mobile view -->
                            <ul class="cards bg-white shadow d-md-none">
                                <li class="d-flex">
                                    <p class="title">
                                        <label class="label-container">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <strong>
                                            Datum
                                        </strong>
                                    </p>
                                    <p class="title-value">
                                        <strong>
                                            2019-07-01
                                        </strong>
                                    </p>
                                </li>
                                <li class="d-flex">
                                    <p class="title">
                                        <label class="label-container" style="visibility:hidden">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <strong>
                                            Typ
                                        </strong>
                                    </p>
                                    <p class="title-value">
                                        <strong>
                                            Hembud/Forbehall
                                        </strong>
                                    </p>
                                </li>
                                <li class="d-flex">
                                    <p class="title">
                                        <label class="label-container" style="visibility:hidden">
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <strong>
                                            Beskrivning
                                        </strong>
                                    </p>
                                    <p class="title-value">
                                        <strong>
                                            Forkopsforbehall registrerades
                                        </strong>
                                    </p>
                                </li>
                            </ul>

                            <!-- desktop view -->
                            <div class="desktop-view-heading row no-gutters align-items-center d-none d-md-flex">
                                <label class="label-container col-md-1" style="visibility: hidden">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <p class="col-md-2">
                                    <strong>
                                        Datum
                                    </strong>
                                </p>
                                <p class="col-md-3">
                                    <strong>
                                        Typ
                                    </strong>
                                </p>
                                <p class="col-md-6">
                                    <strong>
                                        Beskrivning
                                    </strong>
                                </p>
                            </div>
                            
                            <div class="desktop-view-value shadow row no-gutters bg-white align-items-center d-none d-md-flex">
                                <label class="label-container col-md-1">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <p class="col-md-2">
                                    <strong>
                                        2019-07-01
                                    </strong>
                                </p>
                                <p class="col-md-3">
                                    <strong>
                                        Hembud/Forbehall
                                    </strong>
                                </p>
                                <p class="col-md-6">
                                    <strong>
                                        Forkopsforbehall registrerades
                                    </strong>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="tab-Rapporter" class="tab-pane fade"><br>
                    <h5 class="tab-heading">
                        <strong>
                            Rapporter
                        </strong>
                    </h5>

                    <div class="desktop-view-value shadow row no-gutters bg-white align-items-center d-flex">
                        <p class="col-md-1 col-2">
                            <i class="file-icon fa fa-file-alt"></i>
                        </p>
                        <p class="col-md-11 col-10">
                            <strong>
                                Aktiebok
                            </strong>
                        </p>
                    </div>

                </div>
                <div id="tab-Administration" class="tab-pane fade"><br>
                    <!-- tabs -->
                    <ul class="nav nav-tabs d-none d-md-flex desktop-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-Lasrattigheter">
                                Lasrattigheter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-Bolagsuppgifter">
                                Bolagsuppgifter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-Facturaadress">
                                Facturaadress
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-BytAdministrator">
                                Byt administrator
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-NollstallAktieboken">
                                Nollstall aktieboken
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-AvslutaAktieboken">
                                Avsluta aktieboken
                            </a>
                        </li>
                    </ul>

                    <!-- select options for mobile -->

                    <div class="dropdown-div d-md-none">
                        <span>
                            <strong>
                                    Lasrattigheter
                            </strong>
                        </span>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item" id="Lasrattigheter">
                                <a class="nav-link dropdown-list active" data-toggle="tab" value="Lasrattigheter" href="#tab-Lasrattigheter">
                                    Lasrattigheter
                                </a>
                            </li>
                            <li class="nav-item" id="Bolagsuppgifter">
                                <a class="nav-link dropdown-list" data-toggle="tab" value="Bolagsuppgifter" href="#tab-Bolagsuppgifter">
                                    Bolagsuppgifter
                                </a>
                            </li>
                            <li class="nav-item" id="Facturaadress">
                                <a class="nav-link dropdown-list" data-toggle="tab" value="Facturaadress" href="#tab-Facturaadress">
                                    Facturaadress
                                </a>
                            </li>
                            <li class="nav-item" id="Byt-administrator">
                                <a class="nav-link dropdown-list" data-toggle="tab" value="Byt administrator" href="#tab-Byt-administrator">
                                    Byt administrator
                                </a>
                            </li>
                            <li class="nav-item" id="Nollstall-aktieboken">
                                <a class="nav-link dropdown-list" data-toggle="tab" value="Nollstall aktieboken" href="#tab-Nollstall-aktieboken">
                                    Nollstall aktieboken
                                </a>
                            </li>
                            <li class="nav-item" id="Avsluta-aktieboken">
                                <a class="nav-link dropdown-list" data-toggle="tab" value="Avsluta aktieboken" href="#tab-Avsluta-aktieboken">
                                    Avsluta aktieboken
                                </a>
                            </li>
                        </ul>
                    </div>


                    <h5 class="administrator">
                        <strong>
                            Administrator
                        </strong>
                    </h5>
                    <div class="btn-container"> 
                        <button class="btn btn-outline-primary">Andra</button>
                    </div>
                    <!-- mobile-view -->
                    <ul class="cards bg-white shadow d-md-none">
                        <li class="d-flex">
                            <p class="title administration-title">
                                <strong>
                                    Namn
                                </strong>
                            </p>
                            <p class="title-value administration-title-value">
                                <strong>
                                    Joekim Bengtsson
                                </strong>
                            </p>
                        </li>
                        <li class="d-flex">
                            <p class="title administration-title">
                                <strong>
                                    Epost
                                </strong>
                            </p>
                            <p class="title-value administration-title-value">
                                <strong>
                                    joakim.c.bengtsson@gmail.com
                                </strong>
                            </p>
                        </li>
                    </ul>

                    <!-- desktop view -->
                    <div class="desktop-view-heading row no-gutters align-items-center d-none d-md-flex">
                        <p class="col-md-3">
                            <strong>
                                Namn
                            </strong>
                        </p>
                        <p class="col-md-3">
                            <strong>
                                Epost
                            </strong>
                        </p>
                    </div>
                    
                    <div class="desktop-view-value shadow row no-gutters bg-white align-items-center d-none d-md-flex">
                        <p class="col-md-3">
                            <strong>
                                Joekim Bengtsson
                            </strong>
                        </p>
                        <p class="col-md-3">
                            <strong>
                                joakim.c.bengtsson@gmail.com
                            </strong>
                        </p>
                    </div>

                    <!-- tab content -->

                    <div class="tab-content dropdown-tab-content">
                        <div id="tab-Lasrattigheter" class="tab-pane active"><br>
                            <h5 class="lasrattigheter">
                                <strong>
                                    Lasrattigheter
                                </strong>
                            </h5>
                            <p class="lasrattigheter-desc">
                                Har bestammer du vem som far lov att lasa aktieboken. De kan endast lasa, inte gora
                                nagra andringar, i aktieboken.
                            </p>
                            <div class="btn-container">
                                <button class="btn btn-outline-primary">Lagg till</button>
                            </div>
                            <!-- mobile-view -->
                            <ul class="cards bg-white shadow d-md-none">
                                <li class="d-flex">
                                    <p class="title administration-title">
                                        <strong>
                                            Namn
                                        </strong>
                                    </p>
                                    <p class="title-value administration-title-value">
                                        <strong>
                                            Joekim Bengtsson
                                        </strong>
                                    </p>
                                </li>
                                <li class="d-flex">
                                    <p class="title administration-title">
                                        <strong>
                                            Epost
                                        </strong>
                                    </p>
                                    <p class="title-value administration-title-value">
                                        <strong>
                                            joakim.c.bengtsson@gmail.com
                                        </strong>
                                    </p>
                                </li>
                            </ul>
                            
                            <!-- desktop view -->
                            <div class="desktop-view-heading row no-gutters align-items-center d-none d-md-flex">
                                <p class="col-md-3">
                                    <strong>
                                        Namn
                                    </strong>
                                </p>
                                <p class="col-md-3">
                                    <strong>
                                        Epost
                                    </strong>
                                </p>
                            </div>
                            
                            <div class="desktop-view-value shadow row no-gutters bg-white align-items-center d-none d-md-flex">
                                <p class="col-md-3">
                                    <strong>
                                        Joekim Bengtsson
                                    </strong>
                                </p>
                                <p class="col-md-3">
                                    <strong>
                                        joakim.c.bengtsson@gmail.com
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <div id="tab-Bolagsuppgifter" class="tab-pane"><br>
                            its workingz
                        </div>
                    </div>
                </div>

            </div>

            <!-- end of tab content -->
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" 
            integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="   
            crossorigin="anonymous">
        </script>
        <script src="../js/customJS.js"></script>
    </body>

</html>