<!DOCTYPE html>
<html>

    <head>
        <title>Bologs Partner page-1</title>
        <script src="https://use.typekit.net/hbt2yrl.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script>
(function(d) {
var config = {
kitId: 'hbt2yrl',
scriptTimeout: 3000,
async: true
},
h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
})(document);
</script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/customStyle.css">
        <link rel="stylesheet" href="../css/mediaQuery.css">
    </head>

    <body>
        <section class="wrapper page1">
            <div class="row">
                <ul class="nav nav-tabs col-sm-12 col-md-4 nav-justified shadow" role="tablist">
                    <li class="nav-item bologsbestallningar-border bologsbestallningar-border-bottom">
                        <a onclick="changeTab('Bologsbestallningar')" class="bologsbestallningar-border nav-link active"
                            data-toggle="tab" href="#tab-Bologsbestallningar">
                            Bologsbestallningar
                        </a>
                        <div id="Bologsbestallningar" class="triangle"></div>
                    </li>
                    <li class="nav-item aktiebocker-border aktiebocker-border-bottom">
                        <a onclick="changeTab('Aktiebocker')" class="aktiebocker-border nav-link" data-toggle="tab"
                            href="#tab-Aktiebocker">Aktiebocker</a>
                        <div id="Aktiebocker" class="triangle display-none"></div>
                    </li>
                </ul>
    
                <div class="col-sm-12 col-md-8 row align-items-center search-bar">
                    <div class=" col-md-8 ml-auto col-2 search-div">
                        <input class="search-input" type="text" placeholder="Sok efter onskat firmanamn">
                        <i onclick="expandSearchBar()" class="fa fa-search search-icon"></i>
                    </div>
                    <div class="col-md-3 col-7 btn-div">
                        <div>
                            <span class="plus-icon">+</span>
                            <span class="btn-value"><strong>Bestall ny aktiebok</strong></span>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- tab content -->

            <div class="tab-content">
                <div id="tab-Bologsbestallningar" class="tab-pane active"><br>
                    <h5 class="head-title">Alla Bestallningar</h5>
                    <!-- for mobile view -->
                    <ul class="cards bg-white shadow d-md-none">
                        <li class="d-flex">
                            <p class="title">Onskat firmanamn</p>
                            <p class="title-value">Anders Bergdahl Forvaltning AB</p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Status</p>
                            <p class="title-value">
                                <span class="status status-1">
                                    vantar pa underskrift
                                </span>
                            </p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Kontaktperson</p>
                            <p class="title-value">Maria Granmyr</p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Lagerbolag</p>
                            <p class="title-value">-</p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Type</p>
                            <p class="title-value">Avveckling</p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Ordertid</p>
                            <p class="title-value ordertid-value">2019-04-24 13:20</p>
                        </li>
                    </ul>
    
    
                    <ul class="cards bg-white shadow d-md-none">
                        <li class="d-flex">
                            <p class="title">Onskat firmanamn</p>
                            <p class="title-value">Anders Bergdahl Forvaltning AB</p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Status</p>
                            <p class="title-value"><span class="status status-2">offert skickad</span></p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Kontaktperson</p>
                            <p class="title-value">Maria Granmyr</p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Lagerbolag</p>
                            <p class="title-value">-</p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Type</p>
                            <p class="title-value">Avveckling</p>
                        </li>
                        <li class="d-flex">
                            <p class="title">Ordertid</p>
                            <p class="title-value ordertid-value">2019-04-24 13:20</p>
                        </li>
                    </ul>

                    <!-- mobile view end -->

                    <!-- desktop view -->

                    <div class="desktop-view-heading row no-gutters align-items-center d-none d-md-flex">
                        <p class="col-md-3">
                            <strong>
                                Onskat firmanamn
                            </strong>
                        </p>
                        <p class="col-md-4">
                            <strong>
                                Status
                            </strong>
                        </p>
                        <p class="col-md-5">
                            <strong>
                                Kontaktperson
                            </strong>
                        </p>
                        <p class="col-md-1">
                            <strong>
                                Lagerbolag
                            </strong>
                        </p>
                        <p class="col-md-1">
                            <strong>
                                Type
                            </strong>
                        </p>
                        <p class="col-md-2">
                            <strong>
                                Ordertid
                            </strong>
                        </p>
                    </div>

                    <div class="desktop-view-value shadow row no-gutters bg-white align-items-center d-none d-md-flex">
                        <p class="col-md-3">
                            <strong>
                                Anders Bergdahl Forvaltning AB
                            </strong>
                        </p>
                        <p class="col-md-4">
                            <span class="status status-1">
                                <strong>
                                    <!-- vantar pa underskrift -->Komplettering behovs ny order
                                </strong>
                            </span>
                        </p>
                        <p class="col-md-5">
                            <strong>
                                Maria Granmyr
                            </strong>
                        </p>
                        <p class="col-md-1">
                            <strong>
                                -
                            </strong>
                        </p>
                        <p class="col-md-1">
                            <strong>
                                Avveckling
                            </strong>
                        </p>
                        <p class="col-md-2 ordertid-value">
                            <strong>
                                2019-04-24 13:20
                            </strong>
                        </p>
                    </div>

                    <!-- desktop view end -->
                </div>
                <div id="tab-Aktiebocker" class="container tab-pane fade"><br>
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                </div>
            </div>
    
    
        </section>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../js/customJS.js"></script>
    </body>

</html>