<!DOCTYPE html>
<html>

    <head>
        <title>Bologs Partner page-1</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/customStyle.css">
        <link rel="stylesheet" href="../css/mediaQuery.css">
    </head>

    <body>
        <!-- mobile view -->
        <section class="wrapper">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#">Home</a></li>
                <li><a data-toggle="tab" href="#">Menu 1</a></li>
            </ul>
        </section>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../js/customJS.js"></script>
    </body>

</html>