<!DOCTYPE html>
<html>

    <head>
        <title>Bologs Partner page-1</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            (function(d) {
            var config = {
            kitId: 'hbt2yrl',
            scriptTimeout: 3000,
            async: true
            },
            h=d.documentElement,t=setTimeout(function(){
                h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},
                config.scriptTimeout),tk=d.createElement("script"),
                f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";
                tk.src='https://use.typekit.net/'+config.kitId+'.js';
                tk.async=true;tk.onload=tk.onreadystatechange=function(){
                    a=this.readyState;
                    if(f||a&&a!="complete"&&a!="loaded")return;
                    f=true;clearTimeout(t);
                    try{
                        Typekit.load(config)
                    }
                    catch(e){}
                };
                s.parentNode.insertBefore(tk,s)
            })(document);
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="stylesheet" href="../css/mediaQuery.css">
    </head>

    <body>

        <div class="page3 shadow">
            <button class="back-button">
                <strong>
                    <i class="fa fa-arrow-circle-left left-arrow"></i>
                </strong>
            </button>

            <h3 class="page3-heading">
                <strong>
                    Schonberg Husby AB
                </strong>
            </h3>

            <div class="row no-gutters card">
                <h5 class="card-heading col-12">
                    <strong>
                        Bestallning avveckling
                    </strong>
                </h5>
                <div class="col-12 col-md-9 col-lg-7 row no-gutters card-content">
                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Bolog
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            Anders Bergdahl Forvaltning AB
                        </strong>
                    </div>

                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Organisationsnummer
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            556686-8765
                        </strong>
                    </div>

                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Ordertid
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            2019-04-24 16:47
                        </strong>
                    </div>

                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Status
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            vantar pa underskrift
                        </strong>
                    </div>

                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Rakenskapsar
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            1 september - 31 augusti
                        </strong>
                    </div>
                </div>
            </div>


            <!-- <div class="row no-gutters">
                <div class="col-12 col-md-8 card row no-gutters">
                    <h5 class="card-heading col-12">
                        <strong>
                            Kontaktuppgifter
                        </strong>
                    </h5>
                    <div class="heading-btn col-2 display-inline-block">
                        <strong>
                            ladda ner allt
                        </strong>
                    </div>
                </div>
            </div> -->

            <div class="row no-gutters"> 
                <div class="row col-md-10 col-lg-8 col-12 no-gutters card">
                    <h5 class="card-heading">
                        <strong>
                            Underlag for offerten:
                        </strong>
                        <a href="javascript:void(0)" class="card-heading-btn">
                            <strong>
                                ladda ner allt
                            </strong>
                        </a>
                    </h5>

                    <div class="row docu-div"> 
                        <ul class="row col-12 doc-title"> 
                            <li class="col">
                                <strong>
                                    Dokument
                                </strong>
                            </li>
                            <li class="col">
                                <strong>
                                    Mottaget
                                </strong>
                            </li>
                        </ul>
                        <ul class="row col-12 doc-title-value">
                            <li class="col-6 d-flex align-items-center">
                                <img class="pdf-icon d-none d-md-block" src="../images/pdf-logo.png" alt="pdf">
                                <p class="pdf-name">
                                    <strong>
                                        10_balansrapport1.pdf
                                    </strong>
                                </p>
                            </li>
                            <li class="col-6 mottaget-value d-flex align-items-center justify-content-between">
                                <p>
                                    <strong>
                                        2019-04-12
                                    </strong>
                                </p>
                                <p>
                                    <i class="fa fa-download download-icon"></i>
                                    <span class="d-none d-md-inline">
                                        <strong>
                                            ladda ner allt
                                        </strong>
                                    </span>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row no-gutters card">
                <h5 class="card-heading col-12">
                    <strong>
                        Kontaktuppgifter
                    </strong>
                </h5>
                <div class="col-12 col-md-9 col-lg-7 row no-gutters card-content">
                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Kontaktperson
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            Maria Granmyr
                        </strong>
                    </div>
            
                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Utdelningsadress
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            Gruvvagen 5
                        </strong>
                    </div>
            
                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Postnummer
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            981 31
                        </strong>
                    </div>
            
                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Ort
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            Kiruna
                        </strong>
                    </div>
            
                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Telefon
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            0980-311300
                        </strong>
                    </div>

                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            Mobil
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            -
                        </strong>
                    </div>

                    <div class="col-6 col-md-5 card-content-title">
                        <strong>
                            E-post
                        </strong>
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        <strong>
                            bolagstjanster@se.gt.com
                        </strong>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../js/customJS.js"></script>
    </body>
</html>