<!DOCTYPE html>
<html>

    <head>
        <title>Bologs Partner page-1</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            (function(d) {
            var config = {
            kitId: 'hbt2yrl',
            scriptTimeout: 3000,
            async: true
            },
            h=d.documentElement,t=setTimeout(function(){
                h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},
                config.scriptTimeout),tk=d.createElement("script"),
                f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";
                tk.src='https://use.typekit.net/'+config.kitId+'.js';
                tk.async=true;tk.onload=tk.onreadystatechange=function(){
                    a=this.readyState;
                    if(f||a&&a!="complete"&&a!="loaded")return;
                    f=true;clearTimeout(t);
                    try{
                        Typekit.load(config)
                    }
                    catch(e){}
                };
                s.parentNode.insertBefore(tk,s)
            })(document);
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="stylesheet" href="../css/mediaQuery.css">
    </head>

    <body>
    
        <div class="page3 shadow">
            <button class="back-button">
                <strong>
                    <i class="fa fa-arrow-circle-left left-arrow"></i>
                </strong>
            </button>
    
            <h3 class="page3-heading">
                <strong>
                    Paradox North AB
                </strong>
            </h3>

            <div class="ques-ans-div col-12 col-md-10">
                <h5>
                    <strong>
                        Tack for att vi far avveckla Paradox North AB!
                    </strong>
                </h5>
                <p>
                    <strong>
                        For att slutfora kopet behover vi veta hur agandet i Paradox North AB ser ut. Vanligen
                        fyll i samtliga agare i tabellen nedan. Sa snart vi har uppgifterna skickar vi avtal till
                        dig for underskrift
                    </strong>
                </p>


                <h5>
                    <strong>
                        Saknar du information om agandet?
                    </strong>
                </h5>
                <p>
                    <strong>
                        Om du just nu inte har alla uppgifter sa gar det bra att komplettera med dessa senare.
                        Klicka pa samma lank, maila oss pa info@bolagspartner.se 
                        eller sla en signal pa 046-460 12 80.
                    </strong>
                </p>
            </div>

            <!-- hdhdhdhd -->

            <div class="row no-gutters">
                <div class="row col-lg-9 col-12 no-gutters card">
                    <h5 class="card-heading">
                        <strong>
                            Aktieagare
                        </strong>
                        <a href="javascript:void(0)" class="card-heading-btn"
                            data-toggle="modal" data-target="#myButtonModal">
                            <strong>
                                Lagg till aktieagare
                            </strong>
                        </a>
                    </h5>
            
                    <div class="row docu-div mobile-docu-div">

                        <!-- desktop view -->

                        <ul class="row col-12 doc-title d-none d-md-flex">
                            <li class="col-3 roll">
                                <strong>
                                    Roll
                                </strong>
                            </li>
                            <li class="col-3">
                                <strong>
                                    Namn
                                </strong>
                            </li>
                            <li class="col-3">
                                <strong>
                                    Adress
                                </strong>
                            </li>
                            <li class="col-3 atgarder">
                                <strong>
                                    Atgarder
                                </strong>
                            </li>
                        </ul>
                        <ul class="row col-12 doc-title-value d-none d-md-flex">
                            <li class="col-3 roll-value">
                                <strong>
                                    Aktieagare(1000 aktier)
                                </strong>
                            </li>
                            <li class="col-3">
                                <p>
                                    <strong>
                                        Arpit jjai
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        19910202-1478
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        ejhgef@rhfkr.com
                                    </strong>
                                </p>
                            </li>
                            <li class="col-3">
                                <p>
                                    <strong>
                                        bkjfke
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        djff
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        14789 test
                                    </strong>
                                </p>
                            </li>
                            <li class="col-3 d-flex atgarder-value">
                                <img class="edit-icon" src="../images/edit-icon.png" alt="edit"
                                    data-toggle="modal" data-target="#myEditModal">
                                <img class="delete-icon" src="../images/delete-icon.png" alt="delete"
                                    data-toggle="modal" data-target="#myDeleteModal">
                            </li>
                        </ul>

                        <!-- desktop view end -->

                        <!-- mobile view -->

                        <ul class="d-md-none row no-gutters">
                            <li class="col-3 mobile-title">
                                <strong>
                                    Roll
                                </strong>
                            </li>
                            <li class="col-9 mobile-title-value">
                                <strong>
                                    Aktieagare(1000 aktier)
                                </strong>
                            </li>
                            <li class="col-3 mobile-title">
                                <strong>
                                    Namn
                                </strong>
                            </li>
                            <li class="col-9 mobile-title-value">
                                <p>
                                    <strong>
                                        arpit jjai
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        19910202-1478
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        ejhgef@rhfkr.com
                                    </strong>
                                </p>
                            </li>
                            <li class="col-3 mobile-title">
                                <strong>
                                    Adress
                                </strong>
                            </li>
                            <li class="col-9 mobile-title-value">
                                <p>
                                    <strong>
                                        bkjfke
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        djff
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        14789 test
                                    </strong>
                                </p>
                            </li>
                        </ul>
                        <ul class="col-12 d-md-none row no-gutters mobile-icon-div">
                            <li class="col">
                                <img class="edit-icon" src="../images/edit-icon.png" alt="edit"
                                    data-toggle="modal" data-target="#myEditModal">
                            </li>
                            <li class="col">
                                <img class="delete-icon" src="../images/delete-icon.png" alt="delete"
                                    data-toggle="modal" data-target="#myDeleteModal">
                            </li>
                        </ul>

                        <!-- end of mobile view -->

                    </div>
                </div>
            </div>

            <!-- table has to be created here-->

            <hr>

            <div class="ques-ans-div col-12 col-md-9">
                <h5>
                    <strong>
                        Hur vill skriva under handlingar?
                    </strong>
                </h5>
                <p>
                    <strong>
                        Om du just nu inte har alla uppgifter sa gar det bra att komplettera med dessa senare.
                        Klicka pa samma lank, maila oss pa info@bolagspartner.se 
                        eller sla en signal pa 046-460 12 80.
                    </strong>
                </p>
            </div>

            <div class="checkbox-div">
                <label class="radio-label">
                    <strong>
                        Underskrift pa papper, utskick via e-post
                    </strong>
                    <input type="radio" checked="checked" name="radio-1">
                    <span class="checkmark"></span>
                </label>
                <label class="radio-label">
                    <strong>
                        Digit underskrift med BankID
                    </strong>
                    <input type="radio" name="radio-1">
                    <span class="checkmark"></span>
                    <span class="span-message">
                        <strong>
                            Alla aktieagare maste ha en email-adress for elektronisk underskrift
                        </strong>
                    </span>
                </label>
                <label class="radio-label">
                    <strong>
                        Underskrift pa papper, utskick via posten
                    </strong>
                    <input type="radio" name="radio-1">
                    <span class="checkmark"></span>
                </label>
            </div>

            <button class="clear-btn">
                <strong>
                    Klar
                </strong>
            </button>

        </div>

        <!-- modals -->

        <!-- delete modal -->

        <div class="modal align-items-center" id="myDeleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3>
                            <strong>
                                Vill du bort agare/foretradare?
                            </strong>
                        </h3>
                        <button type="button" class="btn-ok">
                            <strong>
                                Ja, jag vill radera
                            </strong>
                        </button>
                        <button type="button" class="btn-close" data-dismiss="modal">
                            <strong>
                                Nej
                            </strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of delete model -->

        <!-- edit model -->

        <div class="modal" id="myEditModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Andra agare / Foretradare
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <h5>
                            <strong>
                                Folkbokford i:
                            </strong>
                        </h5>
                        <div class="checkbox-div d-flex align-items-center">
                            <label class="radio-label" onclick="showSpanMessage()">
                                <strong>
                                    Sverige
                                </strong>
                                <input type="radio" id="radio-btn-1" checked="checked" name="radio-2">
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-label" onclick="showSpanMessage()">
                                <strong>
                                    Utlandet
                                </strong>
                                <input type="radio" name="radio-2" id="radio-btn-2">
                                <span class="checkmark"></span>
                            </label>
                            <span class="span-message">
                                <img src="../images/alert-icon.png" alt="alert-icon">
                                <strong>
                                    Passkopia kravs for person boende utomlands. Vanligen malia till
                                    info@bolagspartner.se
                                </strong>
                            </span>
                        </div>

                        <form action="#">
                            <div class="row no-gutters">
                                <div class="col-md-6 col-12 Personuppgifter">
                                    <h5>
                                        <strong>
                                            Personuppgifter
                                        </strong>
                                    </h5>
                        
                                    <div class="form-group">
                                        <label for="Personnummer">
                                            <strong>
                                                Personnummer (12 siffor, AAAAMMDD-XXXX)
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control" id="Personnummer">
                                    </div>

                                    <div class="row no-gutters">
                                        <div class="form-group col-md-6 col-12 Tilltalsnamn-div">
                                            <label for="Tilltalsnamn">
                                                <strong>
                                                    Tilltalsnamn
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Tilltalsnamn">
                                        </div>

                                        <div class="form-group col-md-6 col-12 Efternamn-div">
                                            <label for="Efternamn">
                                                <strong>
                                                    Efternamn
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Efternamn">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="E-post">
                                            <strong>
                                                E-post
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control" id="E-post">
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 Adress">
                                    <h5>
                                        <strong>
                                            Adress
                                        </strong>
                                    </h5>
                        
                                    <div class="form-group">
                                        <label for="Personnummer">
                                            <strong>
                                                Utdelningsadress
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control" id="Personnummer">
                                    </div>

                                    <div class="row no-gutters">
                                        <div class="form-group col-md-6 col-12 Tilltalsnamn-div">
                                            <label for="Tilltalsnamn">
                                                <strong>
                                                    c/o
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Tilltalsnamn">
                                        </div>

                                        <div class="form-group col-md-6 col-12 Efternamn-div">
                                            <label for="Efternamn">
                                                <strong>
                                                    Postnummer
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Efternamn">
                                        </div>
                                    </div>

                                    <div class="row no-gutters">
                                        <div class="form-group col-md-6 col-12 Tilltalsnamn-div">
                                            <label for="Tilltalsnamn">
                                                <strong>
                                                    Ort
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Tilltalsnamn">
                                        </div>

                                        <div class="form-group col-md-6 col-12 Efternamn-div">
                                            <label for="Efternamn">
                                                <strong>
                                                    Land
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Efternamn">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 Aktier">
                                    <h5>
                                        <strong>
                                            Aktier
                                        </strong>
                                    </h5>
                        
                                    <div class="form-group">
                                        <label for="Antal-aktier">
                                            <strong>
                                                Antal aktier (av totalt 1000)
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control" id="Antal-aktier">
                                    </div>
                                </div>

                                <div class="col-12 row no-gutters">
                                    <div class="col-md-6 col-12 row no-gutters form-btn-group">
                                        <button type="button" class="btn form-btn col-md-5 mr-auto col-12">
                                            <strong>
                                                Spara andringar
                                            </strong>
                                        </button>
                                        <button type="button" class="btn form-btn col-md-6 col-12">
                                            <strong>
                                                Ta bort agare / foretradare
                                            </strong>
                                        </button>
                                    </div>
                                    <div class="col-md-6 col-12 row no-gutters">
                                        <button type="button" class="btn avbryt-btn col-md-4 col-12" data-dismiss="modal">
                                            <strong>
                                                Avbryt
                                            </strong>
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- end of edit model -->

        <!-- button model -->

        <div class="modal" id="myButtonModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Lagg till agare / foretradare
                        </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <div class="modal-body">
                        <form action="#">
                            <div class="row no-gutters">
                                <div class="form-group col-md-6 col-12 select-div">
                                    <label for="Lagg-till">
                                        <strong>
                                            Lagg till:
                                        </strong>
                                    </label>
                                    <select class="form-control" id="Lagg-till"></select>
                                </div>
                            </div>

                            
                            <h5>
                                <strong>
                                    Foretagsuppgifter:
                                </strong>
                            </h5>
                            <h7>
                                <strong>
                                    Registrerat i:
                                </strong>
                            </h7>
                            <div class="checkbox-div d-flex align-items-center">
                                <label class="radio-label" onclick="radioChecked('Sverige')">
                                    <strong>
                                        Sverige
                                    </strong>
                                    <input type="radio" class="radio-btn-1 Sverige" checked="checked" name="radio-3">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-label" onclick="radioChecked('Utlandet')">
                                    <strong>
                                        Utlandet
                                    </strong>
                                    <input type="radio" name="radio-3" class="radio-btn-2 Utlandet">
                                    <span class="checkmark"></span>
                                </label>
                                <span class="span-message">
                                    <img src="../images/alert-icon.png" alt="alert-icon">
                                    <strong>
                                        Passkopia kravs for person boende utomlands. Vanligen malia till
                                        info@bolagspartner.se
                                    </strong>
                                </span>
                            </div>
                            <div class="row no-gutters">
                                <div class="form-group col-md-6 col-12 organisationsnummer-div">
                                    <label for="organisationsnummer">
                                        <strong>
                                            Organisationsnummer
                                        </strong>
                                    </label>
                                    <input type="text" class="form-control" id="organisationsnummer">
                                </div>
                                
                                <div class="form-group col-md-6 col-12 namn-div">
                                    <label for="namn">
                                        <strong>
                                            Namn
                                        </strong>
                                    </label>
                                    <input type="text" class="form-control" id="namn">
                                </div>

                            </div>
                        
                            <!-- <h5>
                                <strong>
                                    Folkbokford i:
                                </strong>
                            </h5>
                            <div class="checkbox-div d-flex align-items-center">
                                <label class="radio-label">
                                    <strong>
                                        Sverige
                                    </strong>
                                    <input type="radio" class="radio-btn-1" checked="checked" name="radio-3">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="radio-label">
                                    <strong>
                                        Utlandet
                                    </strong>
                                    <input type="radio" name="radio-3" class="radio-btn-2">
                                    <span class="checkmark"></span>
                                </label>
                            </div> -->
                            <div class="row no-gutters">
                                <div class="col-md-6 col-12 Personuppgifter">
                                    <h5>
                                        <strong>
                                            Foretradare for aktieagare
                                        </strong>
                                    </h5>

                                    <h7>
                                        
                                            Folkbokford i:
                                        
                                    </h7>
                                    <div class="checkbox-div d-flex align-items-center">
                                        <label class="radio-label" onclick="radioChecked('Sverige')">
                                            <strong>
                                                Sverige
                                            </strong>
                                            <input type="radio" class="radio-btn-1 Sverige" checked="checked" name="radio-4">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="radio-label" onclick="radioChecked('Utlandet')">
                                            <strong>
                                                Utlandet
                                            </strong>
                                            <input type="radio" name="radio-4" class="radio-btn-2 Utlandet">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                        
                                    <div class="form-group">
                                        <label for="Land">
                                            <strong>
                                                Land
                                            </strong>
                                        </label>
                                        <select class="form-control" id="Land"></select>
                                    </div>
                        
                                    <div class="row no-gutters">
                                        <div class="form-group col-md-6 col-12 Tilltalsnamn-div">
                                            <label for="Tilltalsnamn">
                                                <strong>
                                                    Tilltalsnamn
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Tilltalsnamn">
                                        </div>
                        
                                        <div class="form-group col-md-6 col-12 Efternamn-div">
                                            <label for="Efternamn">
                                                <strong>
                                                    Efternamn
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Efternamn">
                                        </div>
                                    </div>
                        
                                    <div class="form-group">
                                        <label for="E-post">
                                            <strong>
                                                E-post
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control" id="E-post">
                                    </div>
                                </div>
                        
                                <div class="col-md-6 col-12 Adress">
                                    <h5>
                                        <strong>
                                            Adress
                                        </strong>
                                    </h5>
                        
                                    <div class="form-group">
                                        <label for="Personnummer">
                                            <strong>
                                                Utdelningsadress
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control" id="Personnummer">
                                    </div>
                        
                                    <div class="row no-gutters">
                                        <div class="form-group col-md-6 col-12 Tilltalsnamn-div">
                                            <label for="Tilltalsnamn">
                                                <strong>
                                                    c/o
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Tilltalsnamn">
                                        </div>
                        
                                        <div class="form-group col-md-6 col-12 Efternamn-div">
                                            <label for="Efternamn">
                                                <strong>
                                                    Postnummer
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Efternamn">
                                        </div>
                                    </div>
                        
                                    <div class="row no-gutters">
                                        <div class="form-group col-md-6 col-12 Tilltalsnamn-div">
                                            <label for="Tilltalsnamn">
                                                <strong>
                                                    Ort
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Tilltalsnamn">
                                        </div>
                        
                                        <div class="form-group col-md-6 col-12 Efternamn-div">
                                            <label for="Efternamn">
                                                <strong>
                                                    Land
                                                </strong>
                                            </label>
                                            <input type="text" class="form-control" id="Efternamn">
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-md-6 col-12 Aktier">
                                    <h5>
                                        <strong>
                                            Aktier
                                        </strong>
                                    </h5>
                        
                                    <div class="form-group">
                                        <label for="Antal-aktier">
                                            <strong>
                                                Antal aktier (av totalt 1000)
                                            </strong>
                                        </label>
                                        <input type="text" class="form-control" id="Antal-aktier">
                                    </div>
                                </div>
                        
                                <div class="col-12 row no-gutters">
                                    <div class="col-md-6 col-12 row no-gutters form-btn-group">
                                        <button type="button" class="btn form-btn col-md-4 col-12">
                                            <strong>
                                                Lagg till
                                            </strong>
                                        </button>
                                        <button type="button" class="btn avbryt-btn col-md-4 mr-auto ml-auto col-12" data-dismiss="modal">
                                            <strong>
                                                Avbryt
                                            </strong>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- end of button model -->
    
    
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script src="../js/customJS.js"></script>
    </body>
</html>