<!DOCTYPE html>
<html>

    <head>
        <title>Bologs Partner page-1</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/commonStyle.css">
        <link rel="stylesheet" href="../css/page-3.css">
    </head>

    <body>

        <div class="page3 shadow">
            <button class="back-button">
                <strong>
                    <i class="fa fa-arrow-left left-arrow"></i>
                    Back
                </strong>
            </button>

            <h3 class="page3-heading"><strong>Anders Bergdahl Forvaltning AB</strong></h3>

            <div class="row no-gutters card">
                <h5 class="card-heading">
                    <strong>
                        Bestallning avveckling
                    </strong>
                </h5>
                <div class="col-12 col-md-8 row no-gutters card-content">
                    <div class="col-6 col-md-5 card-content-title">
                        name
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        gaurav
                    </div>

                    <div class="col-6 col-md-5 card-content-title">
                        name
                    </div>
                    <div class="col-6 col-md-7 card-content-title-value">
                        gaurav
                    </div>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../js/customJS.js"></script>
    </body>
</html>