<!DOCTYPE html>
<html>
        <head>
                <title>Bologs Partner page-1</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                <link rel="stylesheet" href="../css/commonStyle.css">
                <link rel="stylesheet" href="../css/page-3.css">
                <style>
                @media (max-width: 768px) { 
.flex-me {
 display:flex;
 }
}
                </style>
            </head>

            <body>
                    <div class="row">
                            <div class="col-md-3 col-12 flex-me">
                                 <div class="col-md-12 col-6"> t1 </div>
                                   <div class="col-md-12 col-6"> v1 </div>
                            </div>
                               <div class="col-md-3 col-12 flex-me">
                                       <div class="col-md-12 col-6"> t2 </div>
                                       <div class="col-md-12 col-6"> rnfdmfldmlfmdfmldfmdf dlfmdlfkdlkldkfldkdf ldfjdlfjdljfkdlf dlfjdljfdldkf </div>
                               </div>
                                 <div class="col-md-3 col-12 flex-me">
                                       <div class="col-md-12 col-6"> t3 </div>
                                       <div class="col-md-12 col-6"> v3 </div>
                               </div>
                                 <div class="col-md-3 col-12 flex-me">
                                       <div class="col-md-12 col-6"> t4 </div>
                                       <div class="col-md-12 col-6"> v4 </div>
                               </div>
                            </div>
            </body>
</html>